@import "tailwindcss";

@font-face {
  font-family: 'e-Ukraine';
  src: url('/fonts/e-Ukraine-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #161617;
  --background-primary: #232325;
  --background-secondary: #1F1F1F;
  --text-primary: #ffffff;
  --text-secondary: #878787;
  --text-accent: #C2E9DE;
  --transparent-green: #48BB9B1A;
  --green: #48BB9BE5;
}

body {
  font-family: 'e-Ukraine', sans-serif;
  background: var(--background);
  color: var(--text-primary);
}
