@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'e-Ukraine';
  src: url('/fonts/e-Ukraine-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-primary: #232325;
  --background-secondary: #1F1F1F;
  --text-primary: #ffffff;
  --text-secondary: #878787;
  --text-accent: #C2E9DE;
  --transparent-green: #48BB9B1A;
  --green: #48BB9BE5;
}


@theme {
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-accent: var(--text-accent);
  --color-transparent-green: var(--transparent-green);
  --color-green: var(--green);
}


@layer base {
  body {
    font-family: 'e-Ukraine', sans-serif;
    color: var(--text-primary);
    background-color: var(--background-primary);
  }
}
